<h2>Compose a new solution</h2>

<a href="https://tube.switch.ch/videos/278d82bf">How to remove gloves?</a>

<p>Search substances using the form below and add them to your solution.</p>

<app-substance-selector (selectedChange)="addSubstance($event)"></app-substance-selector>

<br><br>
<h2 class="mat-h2">Solution</h2>

<mat-list>
  <ng-container *ngFor="let s of solution.substances">
    <ng-template #modal>
      <h1 mat-dialog-title>Gloves resistance to {{s.substance.name}}</h1>
      <mat-dialog-content>
        <app-resistances-table [resistances]="glovesForSubstance(s.substance) | async" [transpose]="true"></app-resistances-table>
      </mat-dialog-content>
      <mat-dialog-actions align="end">
        <button mat-button matDialogClose="true" cdkFocusInitial>Close</button>
      </mat-dialog-actions>
    </ng-template>

    <mat-list-item>
      <span (click)="open(modal)">
      {{s.substance.name}} (CAS number: {{s.substance.casNumber}})
      </span>
      <div class="right" style="max-width: 30%;">
        <mat-form-field>
          <input matInput type="number" [(ngModel)]="s.proportion" (ngModelChange)="this.onChange()">
          <span matSuffix>%</span>
        </mat-form-field>
        <button mat-icon-button (click)="solution.substances.splice(solution.substances.indexOf(s)) ; this.onChange()">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-list-item>
  </ng-container>


  <mat-list-item>
    Water or aqueous solution

    <div class="right" style="max-width: 30%;">
      <mat-form-field>
        <input matInput type="number" [(ngModel)]="solution.water" (ngModelChange)="this.onChange()">
        <span matSuffix>%</span>
      </mat-form-field>
      <button mat-icon-button (click)="solution.water = 0; this.onChange()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-list-item>

  <mat-list-item>
    Impurities or unknown substances

    <div class="right" style="max-width: 30%;">
      <mat-form-field>
        <input matInput type="number" [(ngModel)]="solution.impurities" (ngModelChange)="this.onChange()">
        <span matSuffix>%</span>
      </mat-form-field>
      <button mat-icon-button (click)="solution.impurities = 0; this.onChange()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-list-item>

</mat-list>

<br><br>

<ng-container *ngIf="solution.substances.length > 0">
  <h2 class="mat-h2">Best gloves results for this solution</h2>
  <ng-container *ngIf="totalProportion === 100">
    <p>The following results are provided by INRS's <a href="https://protecpo.inrs.fr/ProtecPo/">ProtecPo</a>.</p>


    <mat-spinner *ngIf="!result"></mat-spinner>

    <p *ngIf="solution.impurities > 15">
      <mat-icon>warning</mat-icon>
      No recommendation can be made because of a too high uncertainty in the composition.
    </p>
    <p *ngIf="solution.impurities > 5 && solution.impurities < 15">
      <mat-icon>warning</mat-icon>
      The relevance of the recommendation below may be affected by the uncertainty with regard
      to the composition. Thick protections should be favoured. Multi-layer laminated materials, made up of co-polymers,
      also exist.
    </p>

    <ul *ngIf="result">
      <li *ngFor="let glove of result">{{glove.material}} gloves provide
        <app-rating-badge [rating]="glove.resistance"></app-rating-badge>
        resistance.
      </li>
    </ul>
  </ng-container>
  <p *ngIf="totalProportion !== 100"><b>Calculation impossible:</b> the sum of the proportions of each substance doesn't
    make up to 100%.</p>
</ng-container>
<ng-container *ngIf="solution.substances.length == 0">
  <p><i>Add some substances to search for gloves</i></p>
</ng-container>
