<ng-container *ngIf="selectedGlove$ | async as selectedGlove; else loading">
  <h3>Selected glove <b>{{selectedGlove.brand}} {{selectedGlove.name}}</b> (Ref {{selectedGlove.reference}})
  </h3>
  <h4>Ranked #{{selectedGlove.ranking}} -
    <app-rating-badge [rating]="selectedGlove.rankingCategory"></app-rating-badge>
  </h4>

  <p><b>Recommendations: </b>{{selectedGlove.recommendations}}</p>
  <br>

  <mat-accordion>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Specifications</mat-panel-title>
      </mat-expansion-panel-header>


      <ul>
        <li>Reference: <code>{{selectedGlove.reference}}</code></li>
        <li>Material: {{selectedGlove.material.name}} ({{selectedGlove.material.types.join(", ")}})</li>
        <li>Length: {{selectedGlove.length}}mm</li>
        <li>Palm thickness: {{selectedGlove.thickness}}mm</li>
        <li>Finger textured: {{selectedGlove.fingerTextured === true ? 'Yes' : 'No'}}</li>
        <li>Powdered: {{selectedGlove.powdered === true ? 'Yes' : 'No'}}</li>
        <li>Vulcanization agent(s): {{selectedGlove.vulcanizationAgent ? selectedGlove.vulcanizationAgent : 'Unknown'}}</li>
        <li><a href="https://www.iso.org/fr/standard/66421.html">EN ISO 374-1</a>:
          <ul>
            <li>Type {{selectedGlove.standardType}}</li>
            <li>Resistance {{selectedGlove.standardResistance}}</li>
            <li>AQL {{selectedGlove.aql}}</li>
          </ul>
        </li>
      </ul>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Ratings</mat-panel-title>
      </mat-expansion-panel-header>
      <ul>
        <li>Ease to wear:
          <app-rating-badge [rating]="selectedGlove.easeToWear"></app-rating-badge>
        </li>
        <li>Ease to remove:
          <app-rating-badge [rating]="selectedGlove.easeToRemove"></app-rating-badge>
        </li>
        <li>Glass handling:
          <ul>
            <li *ngFor="let pair of selectedGlove.glassHandling">{{pair.humidifier}}:
              <app-rating-badge [rating]="pair.glassHandling"></app-rating-badge>
              {{pair.leavesMarks ? '(leaves marks)' : ''}}</li>
          </ul>
        </li>
        <li>Traction resistance:
          <ul>
            <li *ngFor="let pair of selectedGlove.tractionResistance">{{pair.humidifier}}:
              <app-rating-badge [rating]="pair.tractionResistance"></app-rating-badge>
            </li>
          </ul>
        </li>
      </ul>
    </mat-expansion-panel>
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>Substances compatibility</mat-panel-title>
      </mat-expansion-panel-header>

      <h3>Specific substances rating</h3>
      <p>According to internal tests or spec sheets.</p>

      <app-resistances-table *ngIf="resistances$ | async as resistances; else loading" [resistances]="resistances"></app-resistances-table>


      <!--
      glassHandling: {}; // Map[String, GlassHandling]
      tractionResistance: {}; // Map[String, Rating.Value] -->
    </mat-expansion-panel>
  </mat-accordion>


</ng-container>

<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
